<div class="container">

<div class="ml-4">
  <% if flash[:comment_destroy_notice].present? %>
  <div class="alert alert-warning">
    <%= flash[:comment_destroy_notice] %>
  </div>
<% end %>
</div>

<h2 class="text-center bg-dark text-white p-3" style="font-family: 'Arial', sans-serif;">c o m m e n t 一 覧</h2>
<table class="table mt-4">
  <thead class="text-center">
    <tr>
      <th>作成日時</th>
      <th>ユーザー名</th>
      <th>コメント内容 <i class="fa-solid fa-comment" style="color: #c8e7f4;"></i></th>
      <th>平均評価</th>
      <th>カフェ名</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= comment.user.name if comment.user %></td>
        <td><%= comment.comment %></td>
        <td><i class="fa-solid fa-star fa-sm" style="color: #FFD43B;"></i> <%= comment.star %>点</td>
        <td><%= comment.post.name %></td>
        <td>
          <%= link_to admin_comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-dark" do %>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination justify-content-center">
  <%= paginate @comments, theme: 'twitter-bootstrap-4' %>
</div>

</div>
