<div class="container">
<div class="row">
    <div class="col-md-12">
      <h2 class="mt-4 mb-4"><i class="fa-solid fa-bullhorn"></i> PickUp記事詳細</h2>
      <div class="card" style="background-color: #D2B48C;">
        <div class="card-body">
          
          <div class="row justify-content-center">
            <h2 class="card-title text-white", style="font-family: 'Helvetica', sans-serif;">『 <%= @pick_up.title %> 』</h2>
            
            <% if @pick_up.pick_up_images.attached? %>
                <div class="mt-4">
                  <% @pick_up.pick_up_images.each do |image| %>
                    <%= image_tag url_for(image), class: "mb-3", style: "width: 360px; height: 280px; object-fit: cover;" %>
                  <% end %>
                </div>
            <% end %>
            </div>
            <div class="row justify-content-center">
            <div class="col-md-8">
              <h3 class="card-text mb-2" style="font-family: 'Times New Roman', sans-serif; padding: 5px; width:400px;">
               今週のPickUp Cafe『 <%= @pick_up.post.name %> 』</h3>
              <h5 class="card-text bg-white text-center mt-2" style="padding: 15px;">
                <%= @pick_up.body.gsub(/\n/, '<br>').html_safe %></h5>

              
              <p class="mt-3 d-flex justify-content-end">
                <%= link_to post_path(@pick_up.post), class: "btn btn-dark" do %>
                  <%= @pick_up.post.name %>の詳細を見る <i class="fa-solid fa-mug-hot" style="color: #ffffff;"></i>
                <% end %>
              </p>
            </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
         <%= link_to pick_ups_path, class: "btn btn-outline-dark mt-3 mb-4" do %>
           pickup一覧に戻る <i class="fa-solid fa-rotate-left"></i>
         <% end %>
        </div>
    </div>
  </div>
</div>