<div class="container">
  <%= form_with model: @pick_up, url: admin_pick_up_path(@pick_up), method: :patch, local: true, multipart: true do |form| %>
   <div class="mb-3">
          <%= form.label :pick_up_images, "画像:3枚", class: "form-label" %>
          <%= form.file_field :pick_up_images, multiple: true, accept: "image/*", class: "form-control" %>
       </div>
       
       <% @pick_up.pick_up_images.each do |image| %>
            <%= image_tag url_for(image), class: "img-thumbnail mt-2", style: "width: 90px; height: 90px; object-fit: cover;" %>
          <% end %>
        
       <div class="mb-3">
        <%= form.label :title, "タイトル:", class: "form-label" %>
        <%= form.text_field :title, required: true, class: "form-control" %>
       </div>
       
       <div class="mb-3">
        <%= form.label :body, "本文:", class: "form-label" %>
        <%= form.text_area :body, required: true, class: "form-control" %>
       </div>
       
       <div class="mb-3">
          <%= form.label :post_id, "関連するカフェ:", class: "form-label" %>
          <%= form.collection_select :post_id, Post.all, :id, :name, { prompt: "カフェを選択してください" }, class: "form-control" %>
        </div>
        
        <div class="mb-3 text-center">
          <%= form.submit "変更保存", class: "btn btn-primary" %>
        </div>
  <% end %>
</div>