<div class="container">
 <div class="row justify-content-center">
     
  <div class="ml-4">
   <%#= flash[:pick_destroy_notice] %>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-end mb-3 mr-4">
        <%= link_to new_admin_pick_up_path do %>
         <i class="fa-solid fa-plus fa-lg" style="color: #d0cac8;"></i>
        <% end %>
      </div>
      
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>記事名</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
         <% @pick_ups.each do |pick_up| %>
          <tr>
            <th><%= pick_up.id %></th>
            <th><%= pick_up.title %></th>
            <th>
             <%= link_to admin_pick_up_path(pick_up.id), class: "btn btn-sm btn-outline-secondary" do %>
             詳細へ
             <% end %>
            </th>
          </tr>
         <% end %>
        </tbody>
        
      </table>
    </div>
  </div>
   
 </div>
</div>

<div class="pagination justify-content-center">
  <%= paginate @pick_ups %>
</div>