<h1 class="text-center mb-4">Cafe一覧</h1>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-3 mb-4">
        <%= link_to post_path(post.id), class: "text-decoration-none text-dark" do %>
          <div class="card h-100">
            <div class="card-body text-center">
              <%= image_tag url_for(post.post_images.first), class: "img-thumbnail", style: "width: 160px; height: 140px; object-fit: cover;" %>
              <h6 class="card-title mt-2">~Name~</h6><h5> <%= post.name %></h5>
              <h6 class="card-title"><i class="fa-solid fa-star" style="color: #FFD43B;"></i>平均評価: <%= '%.1f' % post.average_star %>点</h6>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="pagination justify-content-center">
  <%= paginate @posts %>
</div>
