<div class="container">
<div class="row">
  <div class="col-3 mb-2 mt-2">
    <span style="font-size: 2em;"><i class="fa-solid fa-caret-right"></i> <%= @post.name %></span>
  </div>
 
  
  <div class ="col-5"></div>
  
  <div class="col-1 mt-4">
    <!--いいね機能-->
    <% if current_user && !current_user.guest_user? %>
    <div id="like_buttons_<%= @post.id %>">
     <%= render 'public/likes/like', post: @post %>
    </div>
    <% end %>
  </div>
     
   <div class="col-3 mt-4">
    <%= link_to post_likes_path(@post), style: "color: black; text-decoration: none;" do %>
      <i class="fa-regular fa-hand-point-right fa-lg"></i> いいね<i class="fa-solid fa-heart fa-xs" style="color: #ff1a25;"></i>したユーザ一覧
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <!--画像-->
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
   <% @post.post_images.each_with_index do |image, index| %>
    <div class="carousel-item <%= 'active' if index == 0 %>">
      <%= image_tag url_for(image), class: "d-block w-100", style: "width: 300px; height: 280px; object-fit: cover;", alt: "投稿画像" %>
    </div>
   <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    <div>
       <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    
    
    <h5>コメント、レビューを残す</h5>
    <% if current_user && !current_user.guest_user? %>
    <%= form_with(model: [@post, Comment.new], local: true) do |form| %>
      <div class="form-group">
        <%= form.text_area :comment, required: true, class: "form-control" %>
      </div>

      <div class="form-group mt-2" id="star">
        <%= form.hidden_field :star, id: :post_star, class: 'form-control' %>
        <div id="post_raty"></div>
      </div>
      
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#post_raty');
          if (elem == null) return;

          elem.innerHTML = "";
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            scoreName: 'comment[star]', // データを送りたいモデル名[カラム名]
          };
          raty(elem, opt);
        });
      </script>
      
      <%= form.submit "コメントを投稿する", class: "btn btn-sm btn-outline-dark mt-2 mb-2" %>
    <% end %>
    <% else %>
    
    <p>コメントするには、ユーザー登録をしてサインインが必要です。</p>
    <% end %>
    </div>
  </div>

  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th><i class="fa-solid fa-location-dot fa-sm" style="color: #ff0f6f;"></i> 住所</th>
          <th><i class="fa-solid fa-calendar" style="color: #c6b69f;"></i> 営業日</th>
          <th><i class="fa-solid fa-clock" style="color: #c6b69f;"></i> 営業時間</th>
          <td>レビュー <i class="fa-solid fa-comment" style="color: #FFD43B;"></i></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @post.address.gsub(/\n/, '<br>').html_safe %></td>
          <td><%= @post.days_open.gsub(/\n/, '<br>').html_safe %></td>
          <td><%= @post.hours.gsub(/\n/, '<br>').html_safe %></td>
          <td><%= @post.review.gsub(/\n/, '<br>').html_safe %></td>
        </tr>
      </tbody>
    </table>
    <div class="card" style="width: 500px;">
      <div class="card-body">
        <h6 class="card-title"><i class="fa-solid fa-tags fa-sm" style="color: #515053;"></i> タグ ( clickすると関連投稿が表示されます<i class="fa-solid fa-fire" style="color: #ff0040;"></i> )</h6>
        
        <% @post.tags.each do |tag| %>
         <%= link_to tag_search_posts_path(tag: tag.name), class: "badge bg-info", style: "color: white;" do %>
          #<%= tag.name %>
         <% end %>
        <% end %>

      </div>
    </div>
    
    
     <% if @comments.any? %>
      <h4>コメント一覧</h4> 
      コメント数: <%= @comments.count %>件 
      <% @comments.each do |comment| %>
        <div class="card mb-1">
          <div class="card-body">
            <div class="d-flex">
              <% if comment.user.present? && comment.user.profile_image.attached? %>
                <div class="me-3">
                  <%= image_tag url_for(comment.user.profile_image), class: "avatar-img rounded-circle mr-4", style: "width: 50px; height: 50px; object-fit: cover;" %>
                  <p class="text-center mr-4"><small class="text-muted"><%= comment.user.name if comment.user %></small></p>
                </div>
              <% else %>
                <div class="me-3">
                  <%= image_tag "no_image.jpg", class: "avatar-img rounded-circle mr-4", style: "width: 50px; height: 50px; object-fit: cover;" %>
                  <p class="text-center mr-4"><small class="text-muted"><%= comment.user.name if comment.user %></small></p>
                </div>
              <% end %>
              <div class="flex-grow-1">
                <p class="card-text"><small class="text-muted"><%= comment.comment.gsub(/\n/, '<br>').html_safe %></small></p>
              </div>
              
              <div id="star_<%= @post.id %>_<%= comment.id %>"></div>
              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#star_<%= @post.id %>_<%= comment.id %>');
                  if (elem == null) return;
                  
                  elem.innerHTML = "";
                  let opt = {  
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    score: '<%= comment.star %>',
                    readOnly: true,
                  };
                  raty(elem, opt);
                });
              </script>
              
              <div class="ms-auto d-flex flex-column align-items-end">
                <% if current_user == comment.user %>
                  <%= button_to "削除", post_comment_path(@post, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-dark btn-sm mb-2" %>
                <% end %>
                <p class="card-text mb-0"><small class="text-muted"><%= comment.created_at.strftime("%Y-%m-%d") %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>まだコメントはありません。</p>
    <% end %>
  </div>
</div>




</div>
