<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>タグ検索ページ</h2>
      <!--三項演算子使ってみた-->
      <h4 class="ml-2"><%= @tag ? "##{@tag.name} の検索結果" : "タグが見つかりませんでした" %></h4>
    </div>
    
    <div class="col-6 text-right">
      <%= form_with url: tag_search_posts_path, local: true, method: :get do |f| %>
       <%= f.text_field :tag, placeholder: "タグ検索" %>
       <%= f.submit "検索", class: "btn-sm btn-info" %>
      <% end %>
    </div>
  </div>
      

<% if @posts.present? %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-4 mb-4">
        <div class="card h-100">
            
          <%= link_to post_path(post), class: "text-decoration-none text-dark" do %>
            <%= image_tag url_for(post.post_images.first), class: "card-img-top img-thumbnail", style: "height: 250px; object-fit: cover;" %>
            <div class="card-body">
              <h5 class="card-title"><%= post.name %></h5>
              <p class="card-text"><i class="fa-solid fa-location-dot fa-sm" style="color: #ff0f6f;"></i> <%= post.address %></p>
          <% end %>
              
              <% if post.tags.any? %>
                <div class="mt-2">
                  <% post.tags.each do |tag| %>
                   <%= link_to tag_search_posts_path(tag: tag.name), class: "badge bg-info", style: "color: white;" do %>
                    <span class="badge bg-info text-white">#<%= tag.name %></span>
                   <% end %>
                  <% end %>
                </div>
            </div>
            
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>このタグに一致する投稿はありません。</p>
<% end %>


</div>