<div class="container">
  <h2 class="text-center bg-dark text-white p-3" style="font-family: 'Arial', sans-serif;">管 理 者 T O P</h2>

  <div class="row text-center mt-4">
    <div class="col-md-4  md-4 mb-4">
      <%= link_to root_path do %>
        <%= image_tag 'KT.png', class: 'img-fluid', size: '150x150' %>
      <% end %>
      <p class="mt-2">1. サイトTOPへ</p>
    </div>
    <div class="col-md-4 mb-4">
      <%= link_to admin_users_path do %>
        <%= image_tag 'KT1.png', class: 'img-fluid', size: '150x150' %>
      <% end %>
      <p class="mt-2">2. 会員管理</p>
    </div>
    <div class="col-md-4 mb-4">
      <%= link_to admin_posts_path do %>
        <%= image_tag 'KT2.png', class: 'img-fluid', size: '150x150' %>
      <% end %>
      <p class="mt-2">3. 投稿管理</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <%= link_to admin_comments_path do %>
        <%= image_tag 'KT3.png', class: 'img-fluid', size: '150x150' %>
      <% end %>
      <p class="mt-2">4. コメント管理</p>
    </div>
    <div class="col-md-4 mb-4">
      <%= link_to admin_tags_path do %>
        <%= image_tag 'KT4.png', class: 'img-fluid', size: '150x150' %>
      <% end %>
      <p class="mt-2">5. タグ管理</p>
    </div>
    <div class="col-md-4 mb-4">
      <%= link_to admin_pick_ups_path do %>
        <%= image_tag 'KT5.png', class: 'img-fluid', size: '150x150' %>
      <% end %>
      <p class="mt-2">6. PickUp管理</p>
    </div>
  </div>
  
 <div class="container-fluid faq-wrapper mb-4">
  <h4 class="text-center pb-3">管理者向けおすすめ機能 <i class="fa-solid fa-screwdriver-wrench"></i></h4>
  <div class="row">

   <div class="col-6">
    <div class="text-dark border p-3 mt-2" data-toggle="modal" data-target="#exampleModalCenter">
       <i class="fa-regular fa-square-check"></i> cafeの特集・ピックアップ機能
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">cafeの特集・pick_up機能</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           My Cafeでは通常の投稿とは別に『cafeの特集・ピックアップ機能』を導入しています。</br>
           この機能により、既に投稿されたcafeを特集記事としてピックアップしユーザーに紹介することができます<i class="fa-regular fa-thumbs-up fa-sm"></i> <i class="fa-solid fa-heart fa-sm" style="color: #74C0FC;"></i></br>
           これにより、ユーザーは注目のカフェやおすすめのスポットを簡単に見つけられるようになり、サイトの魅力を高めるお手伝いをします。
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="col-6">
    <div class="text-dark border p-3 mt-2" data-toggle="modal" data-target="#exampleModalCenter2">
      <i class="fa-regular fa-square-check"></i> 会員編集機能の活用
    </div>

    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">会員編集機能の活用</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            My Cafeでは、会員編集機能を導入しています。</br>
            会員の名前や自己紹介文を変更することができ、不適切な内容や問題がある場合も対処できます。</br>
            また、不適切な会員を退会させることができ、コミュニティの健全性を保つお手伝いをします。</br>
            これにより、ユーザーが安心して利用できる環境を確保します<i class="fa-solid fa-hand-holding-heart fa-sm" style="color: #fb9898;"></i>
          </div>
          </div>
        </div>
      </div>
    </div>

   <div class="col-6">
    <div class="text-dark border p-3 mt-2" data-toggle="modal" data-target="#exampleModalCenter3">
      <i class="fa-regular fa-square-check"></i> コメント削除機能の活用
    </div>

    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">コメント削除機能の活用</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            My Cafeでは、コメント削除機能を導入しており、不適切な内容や問題があるコメントを迅速に削除することができます<i class="fa-solid fa-fire fa-sm" style="color: #f63737;"></i></br>
            この機能により、管理者はコミュニティの健全性を保ち、ユーザーにとって快適な環境を維持することが可能です。
          </div>
        </div>
      </div>
     </div>
   </div>

   <div class="col-6">
    <div class="text-dark border p-3 mt-2" data-toggle="modal" data-target="#exampleModalCenter4">
      <i class="fa-regular fa-square-check"></i> 検索機能の活用
    </div>

    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">検索機能の活用</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            My Cafeでは、ユーザーとコメントの両方に対してワード検索機能を導入しています。</br>
            この機能により不適切なワードを迅速に見つけ出し、対処するお手伝いをします<i class="fa-regular fa-face-smile fa-sm"></i> <i class="fa-solid fa-heart fa-sm" style="color: #f2b6e5;"></i></br>
          </div>
        </div>
      </div>
    </div>
   </div>

  </div>
 </div>
  
</div>
