<!-- 成功メッセージを表示 -->
<% if flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<!-- エラーメッセージを表示 -->
<% if flash.now[:error].present? %>
  <div class="alert alert-danger">
    <%= flash.now[:error] %>
  </div>
<% end %>

<!-- flash[:tag_update_notice] を表示 -->
<% if flash[:tag_update_notice].present? %>
  <div class="ml-4 alert alert-info">
    <%= flash[:tag_update_notice] %>
  </div>
<% end %>


<div class="container">
  <h2 class="text-center bg-dark text-white p-3" style="font-family: 'Arial', sans-serif;">T a g 一覧・追加・編集</h2>

  <div class="row align-items-center mt-3">
    <div class="col-auto">
      <h5><i class="fa-solid fa-hashtag"></i> 現在のTag数: <%= @tag_count %>個</h5>
    </div>
    <div class="col-auto">
      <%= form_with model: @tag, url: admin_tags_path, local: true, class: "form-inline" do |f| %>
        <div class="form-group mb-2">
          <%= f.label :name, "Tag名", class: "sr-only" %>
          <%= f.text_field :name, class: "form-control mx-sm-3" %>
        </div>
        <%= f.submit "新規追加", class: "btn btn-outline-dark mb-2" %>
      <% end %>
    </div>
  </div>
  
  <div class="row mt-3">
    <% @tags.each do |tag| %>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-tags"></i> <%= tag.name %></h5>
            <div class="btn-group">
              <%= link_to "編集", edit_admin_tag_path(tag), class: "btn btn-sm btn-outline-success mr-2" %>
              <%= link_to "削除", admin_tag_path(tag), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-dark" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
<div class="pagination justify-content-center">
  <%= paginate @tags, theme: 'twitter-bootstrap-4' %>
</div>

</div>