<div class="container">
  <%= form_with model: @post, url: admin_post_path(@post), method: :patch, local: true, multipart: true do |form| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :post_images, "カフェ画像" %>
          <%= form.file_field :post_images, multiple: true, accept: "image/*", class: "form-control-file" %>
          <button type="button" id="add-file-field" class=" ml-2 mt-2 btn btn-sm btn-outline-secondary">画像を追加</button>
        </div>
        
          <% @post.post_images.each do |image| %>
            <%= image_tag url_for(image), class: "img-thumbnail mt-2", style: "width: 90px; height: 90px; object-fit: cover;" %>
          <% end %>
          
        <div class="card mb-3">
          <div class="card-body">
            <%= form.label :tag_ids, "タグ" %>
            <div class="row">
              <% Tag.all.each_with_index do |tag, index| %>
                <div class="col-6">
                  <%= form.check_box :tag_ids, { multiple: true }, tag.id, nil %>
                  <%= tag.name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="col-md-8">
        <div class="form-group">
          <%= form.label :name, "名前" %>
          <%= form.text_field :name, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :address, "住所" %>
          <%= form.text_area :address, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :days_open, "営業日" %>
          <%= form.text_area :days_open, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :hours, "営業時間" %>
          <%= form.text_area :hours, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :review, "レビュー" %>
          <%= form.text_area :review, required: true, class: "form-control" %>
        </div>
        
        <%= form.submit "変更保存", class: "btn btn-sm btn-outline-dark mt-2 mb-2" %>
      </div>
    </div>
  <% end %>
</div>


<!--画像追加ボタン-->
<script>
document.addEventListener("DOMContentLoaded", function() {
  const addButton = document.getElementById("add-file-field");
  addButton.addEventListener("click", function() {
    const fileFields = document.querySelectorAll("input[type='file']");
    if (fileFields.length < 3) { // 3つ未満の場合のみ追加
      const newFileField = fileFields[0].cloneNode(); // ここでは最初のフィールドをクローンしていますが、必要に応じて変更してください
      fileFields[0].parentNode.insertBefore(newFileField, fileFields[0].nextSibling);
    }
  });
});
</script>