<div class="container">
  
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h6><%= pluralize(@post.errors.count, "件のエラー") %> により変更を保存できませんでした。</h6>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @post, url: admin_post_path(@post), method: :patch, local: true, multipart: true do |form| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :post_images, "カフェ画像" %>
          <%= form.file_field :post_images, multiple: true, accept: "image/*", id: "profile_image_input", class: "form-control-file" %>
          <button type="button" id="add-file-field" class="ml-2 mt-2 btn btn-sm btn-outline-secondary">画像を追加</button>
        </div>
        
        <h6>< preview ></h6>
        <div id="image_preview"></div>
        
        <h6>< 現在の画像 ></h6>
        <% @post.post_images.each do |image| %>
          <%= image_tag url_for(image), class: "img-thumbnail mt-2", style: "width: 90px; height: 90px; object-fit: cover;" %>
        <% end %>

        <div class="card mb-3">
          <div class="card-body">
            <%= form.label :tag_ids, "タグ" %>
            <div class="row">
              <% Tag.all.each_with_index do |tag, index| %>
                <div class="col-6">
                  <%= form.check_box :tag_ids, { multiple: true }, tag.id, nil %>
                  <%= tag.name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="col-md-8">
        <div class="form-group">
          <%= form.label :name, "名前" %>
          <%= form.text_field :name, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :address, "住所" %>
          <%= form.text_area :address, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :days_open, "営業日" %>
          <%= form.text_area :days_open, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :hours, "営業時間" %>
          <%= form.text_area :hours, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :review, "レビュー" %>
          <%= form.text_area :review, required: true, class: "form-control" %>
        </div>
        
        <%= form.submit "変更保存", class: "btn btn-sm btn-outline-dark mt-2 mb-2" %>
      </div>
    </div>
  <% end %>
</div>



<!--画像追加ボタンとプレビュー-->
<script>
document.addEventListener("turbolinks:load", function() {
  const addButton = document.getElementById("add-file-field");
  const imagePreviewContainer = document.getElementById("image_preview");

  addButton.addEventListener("click", function() {
    const fileFields = document.querySelectorAll("input[type='file']");
    if (fileFields.length < 3) { // 3つ未満の場合のみ追加
      const newFileField = fileFields[0].cloneNode(); // 最初のフィールドをクローン
      fileFields[0].parentNode.insertBefore(newFileField, fileFields[0].nextSibling);

      newFileField.addEventListener('change', handleFileSelect);
    }
  });

  document.querySelectorAll("input[type='file']").forEach(fileField => {
    fileField.addEventListener('change', handleFileSelect);
  });

  function handleFileSelect(event) {
    const files = event.target.files;

    Array.from(files).forEach(file => {
      const reader = new FileReader();

      reader.onload = function(event) {
        const imgElement = document.createElement('img');
        imgElement.src = event.target.result;
        imgElement.width = 90;
        imgElement.height = 90;
        imgElement.classList.add('img-thumbnail', 'mt-2');
        imgElement.style.objectFit = 'cover';

        imagePreviewContainer.appendChild(imgElement);
      };

      reader.readAsDataURL(file);
    });
  }
});
</script>