<h1>カフェの投稿</h1>

<%= form_with model: @post, url: admin_posts_path, method: :post, local: true, multipart: true do |form| %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        
        <% if @post.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h6><%= pluralize(@post.errors.count, "件のエラー") %> により投稿できませんでした:</h6>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :post_images, "画像（１枚〜3枚）", class: "form-label" %>
          <%= form.file_field :post_images, multiple: true, accept: "image/*", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :name, "カフェ名:", class: "form-label" %>
          <%= form.text_field :name, required: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :address, "住所:", class: "form-label" %>
          <%= form.text_area :address, required: true, class: "form-control" %>
        </div>

        <div class="card mb-3">
          <%= form.label :tag_ids, "タグ", class: "form-label" %>
          <div class="container">
            <div class="row">
              <!-- 出力時３列にするため記載 -->
              <% Tag.all.each_slice(3) do |tag_group| %>
                <% tag_group.each do |tag| %>
                  <div class="col-md-4">
                    <%= form.check_box :tag_ids, { multiple: true }, tag.id, nil %>
                    <%= tag.name %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <%= form.label :days_open, "営業日:", class: "form-label" %>
          <%= form.text_area :days_open, id: 'days_open', required: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :hours, "営業時間:", class: "form-label" %>
          <%= form.text_area :hours, id: 'hours', required: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :review, "レビュー:", class: "form-label" %>
          <%= form.text_area :review, required: true, class: "form-control", rows: 8 %>
        </div>

        <div class="mb-3 text-center">
          <%= form.submit "投稿", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>




  
    <%#= form.label :latitude, "緯度:" %>
    <%#= form.text_field :latitude, id: 'latitude', required: true, readonly: true %>
  
    <%#= form.label :longitude, "経度:" %>
    <%#= form.text_field :longitude, id: 'longitude', required: true, readonly: true %>



