<div class="container">
  
<% if flash[:post_notice].present? %>
 <div class="alert alert-success">
  <%= flash[:post_notice] %>
 </div>
<% end %>

<% if flash[:post_edit_notice].present? %>
 <div class="alert alert-success">
  <%= flash[:post_edit_notice] %>
 </div>
<% end %>

<div class="row">

    <div class="col-7 mb-2 mt-2">
        <span style="font-size: 2em;"><i class="fa-solid fa-caret-right"></i> <%= @post.name %></span>
    </div>
    <div class="col-2"></div>
</div>


<div class="row">
  <div class="col-md-4">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
   <% @post.post_images.each_with_index do |image, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= image_tag url_for(image), class: "d-block w-100", style: "width: 300px; height: 280px; object-fit: cover;", alt: "投稿画像" %>
          </div>
        <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    
  </div>

  <div class="col-md-8">

    <table class="table">
      <thead>
        <tr>
          <th style="width: 90px;"><i class="fa-solid fa-location-dot fa-sm" style="color: #ff0f6f;"></i> 住所</th>
          <th style="width: 80px;"><i class="fa-solid fa-calendar" style="color: #c6b69f;"></i> 営業日</th>
          <th style="width: 70px;"><i class="fa-solid fa-clock" style="color: #c6b69f;"></i> 営業時間</th>
          <td style="width: 290px;">レビュー <i class="fa-solid fa-comment" style="color: #FFD43B;"></i></td>
 
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td><%= @post.address.gsub(/\n/, '<br>').html_safe %></td>
          <td><%= @post.days_open.gsub(/\n/, '<br>').html_safe %></td>
          <td><%= @post.hours.gsub(/\n/, '<br>').html_safe %></td>
          <td><%= @post.review.gsub(/\n/, '<br>').html_safe %></td>
        </tr>
      </tbody>
    </table>
       <div class="card" style="width: 500px;">
        <div class="card-body">
         <h6 class="card-title"><i class="fa-solid fa-tags fa-sm" style="color: #515053;"></i> タグ</h6>
           <% @post.tags.each do |tag| %>
             <span class="badge bg-info" style="color: white;">#<%= tag.name %></span>
           <% end %>
         </div>
       </div>
       
       <div class="btn-group mt-4 d-flex justify-center">
       <%= link_to admin_posts_path, class: "btn btn-sm btn-outline-dark" do %>
          cafe一覧に戻る <i class="fa-solid fa-rotate-left"></i>
       <% end %>
       
       <%= link_to edit_admin_post_path, class: "btn btn-sm btn-outline-dark" do %>
          編集 <i class="fa-regular fa-pen-to-square"></i>
       <% end %>
       
       <%= link_to admin_post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger" do %>
          消去 <i class="fa-solid fa-trash-can"></i>
       <% end %>
       </div>
       
  </div>
</div>
</div>
