<div class="container">
 <div class ="row">
  <div class="col-6">
   <h3><%= @post.name %>をいいねしたユーザー一覧</h3>
  </div>
  <div class="col-2"></div>
  <div class="col-4">
    <%= link_to post_path(@post), class: "btn btn-outline-dark" do %>
      <i class="fa-solid fa-rotate-left"></i> <%= @post.name %>詳細ページに戻る
    <% end %>
  </div>
 </div>

 <div class="row">
  <% @post.likes.each do |like| %>
    <div class="col-md-2 col-sm-4 col-6 mb-2">
      <%= link_to user_path(like.user), class: "text-decoration-none text-dark" do %>
        <div class="card text-center" style="height: 250px;">
          <% if like.user.profile_image.attached? %>
            <%= image_tag like.user.profile_image, class: "card-img-top mt-2 mx-auto", style: "width: 130px; height: 130px; object-fit: cover;" %>
          <% else %>
            <%= image_tag "no_image.jpg", class: "card-img-top mt-2 mx-auto", style: "width: 130px; height: 130px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">name: <%= like.user.name %></h5>
            <h6 class="card-title text-muted"><%= like.user.body %></h6>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
 </div>
</div>