<div class="container">

 <% if flash[:user_notice].present? %>
  <div class="alert alert-success">
    <%= flash[:user_notice] %>
  </div>
<% end %>

 <div class="row justify-content-center">
  
  <h2 class="mb-4 mt-4">User一覧</h2>
  
  <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>自己紹介文</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
         <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
             <% if user.profile_image.attached? %>
              <%= image_tag url_for(user.profile_image), class: "rounded-circle", style: "width: 60px; height: 60px; object-fit: cover; margin-left: 1rem;" %>
             <% else %>
              <%= image_tag "no_image.jpg", class: "rounded-circle", style: "width: 60px; height: 60px; object-fit: cover; margin-left: 1rem;"%>
             <% end %>
            </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.body %></td>
            <td>
             <% if user.is_deleted == true %>
              <strong class="text-secondary">退会済</strong>
             <% else %>
              <strong class="text-info">有効</strong>
             <% end %>
             </td>
            <td> 
              <%= link_to edit_admin_user_path(user), class: "btn btn-sm btn-outline-secondary" do %>
               編集 <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
            </td>
          </tr>
         <% end %>
        </tbody>
        
      </table>
  
 </div>
</div>