<div class="ml-4">
  <%= flash[:edit_notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
      
    <div class="col-4 mt-4">
      <h2>My page</h2>
      
      <div class="card" style="width: 17rem;">
        <% if @user.profile_image.attached? %>
          <%= image_tag url_for(@user.profile_image), class: "rounded-circle mt-3", style: "width: 120px; height: 120px; object-fit: cover; margin-left: 1rem;" %>
        <% else %>
          <%= image_tag "no_image.jpg", class: "card-img-top", style: "width: 100px; height: 100px;"%>
        <% end %>
        <div class="card-body">
          <h4 class="card-title">Name</h4>
          <p class="card-text"><%= @user.name %></p>
          <p class="card-text"><%= @user.body.gsub(/\n/, '<br>').html_safe %></p>
        </div>
      </div>
      
      <% if user_signed_in? && @user == current_user %>
        <div class="ml-3 mt-2 mb-2">
          <%= link_to edit_user_path, class: "btn btn-sm btn-outline-dark" do %>
            編集 <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
          
          <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-dark" do %>
            Log Out <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <% end %>
          
          <%= link_to check_users_path, class: "btn btn-sm btn-outline-danger" do %>
            退会 <i class="fa-solid fa-bomb"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <!--いいね一覧-->
    <div class="col-6 mt-4">
      <% if user_signed_in? && @user == current_user %>
        <h3>My favorite Cafe</h3>
      <% else %>
        <h3><%= @user.name %> 's favorite Cafe</h3>
      <% end %>
      
      <div class="row">
        <% @liked_posts.take(9).each_slice(3) do |slice| %>
          <% slice.each do |like_post| %>
            <div class="col-md-4 mb-1">
              <%= link_to post_path(like_post), class: "text-decoration-none text-dark" do %>
                <%= image_tag url_for(like_post.post_images.first), class: "card-img-top img-thumbnail", style: "object-fit: cover; height: 150px;" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      
    <div class="row justify-content-center mb-3">
     <div class="col-12 text-center">
      <% if user_signed_in? && @user == current_user %>
        <%= link_to "自分のいいねを全て見る", likes_user_path(current_user), class: "btn btn-sm btn-outline-dark" %>
      <% else %>
        <%= link_to "#{@user.name} さんのいいねを全て見る", likes_user_path(@user), class: "btn btn-sm btn-outline-dark" %>
      <% end %>
     </div>
    </div>

    </div>
    
  </div>
</div>
