
  <% if admin_signed_in? %>
  <div class="border-bottom row">
  
    <div class="col-3">
      <%= link_to admin_path do %>
        <%= image_tag '4.png', size: '200x133' %>
      <% end %>
    </div>

    <h2 class="col-3" style="margin-top: 50px !important;">管理者用ページ</h2>
    <div class="col-3"></div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark mt-auto mr-2 mb-auto ml-4", style: "font-size: 15px; padding: 10px 20px;" do %>
      <i class="fa-solid fa-right-from-bracket"></i>Log Out
      <% end %>
    </div>
    
  </div>
    
<% elsif user_signed_in? %>
  <div class="border-bottom row mt-3 ">

    <div class="mt-1 mr-4 mb-1 ml-4 col-3 d-flex align-items-center">
      <%= link_to root_path do %>
        <%= image_tag '3.png', size: '200x133' %>
      <% end %>
    </div>
    
    <div class ="col-2"></div>
    <div class="col-2 mt-4 mr-0 mb-4 ml-0 d-flex justify-content-center align-items-center">
      <%= link_to user_path(current_user), class: "btn btn-outline-dark rounded-pill btn-sm" do %>
        My Page <i class="fa-solid fa-user"></i>
      <% end %>
    </div>

    <div class="col-2 mt-4 mr-0 mb-4 ml-0 d-flex justify-content-center align-items-center">
      <%= link_to posts_path, class: "btn btn-outline-dark rounded-pill btn-sm" do %>
        Cafe一覧 <i class="fa-solid fa-mug-hot"></i>
      <% end %>
    </div>

    <div class="col-2 mt-4 mr-0 mb-4 ml-0 d-flex justify-content-center align-items-center">
      <%= link_to pick_ups_path, class: "btn btn-outline-dark rounded-pill btn-sm" do %>
        今週のPickUp cafe <i class="fa-solid fa-heart" style="color: #e85967;"></i></i>
      <% end %>
    </div>
  </div>
  <div class="row mt-3"></div>

    
  <% else %>
  
    <div class="row border-bottom mt-3">
    <div class="col-3">
      <%= link_to root_path do %>
        <%= image_tag '3.png', size: '200x133' %>
      <% end %>
    </div>
    <div class ="col-1"></div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <%= link_to "ゲストログイン後で", root_path, class: "btn btn btn-outline-dark rounded-pill mt-auto mr-2 mb-auto ml-2" %>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <%= link_to "Log In", new_user_session_path, class: "btn btn btn-outline-dark rounded-pill mt-auto mr-2 mb-auto ml-2"%>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn btn-outline-dark rounded-pill mt-auto mr-2 mb-auto ml-2" %>
    </div>
   <div class="col-2 d-flex justify-content-center align-items-center">
      <%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn btn-outline-dark rounded-pill mt-auto mr-2 mb-auto ml-2" %>
    </div>
    <div class="row mt-3"></div>
    </div>
    
    
  <% end %>